* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::after,
*::before {
	box-sizing: border-box;
}
a{
	
}
h1 {
	font-size: 72px;
	font-family: 'Cafe';
	text-shadow: 5px -2px 1px rgb(219, 187, 7);
}

h2 {
	font-family: 'TWThin';
	font-size: 30px;
}

.bg {
	background-image: linear-gradient(-45deg, #302215, #000000);
	background-attachment: fixed;
	min-height: 300vh;
	display: flex;
}

section{
	height: 600px;
}


header {
	position: fixed;
	z-index: 1;
	width: 100%;
	display: flex;
	justify-content: center;
}

.redes {
	align-items: center;
	position: absolute;
	display: flex;
	gap: 50px;
	padding: 2% 0;
	left: 5%;
}

.redes a:hover {
	opacity: 0.5;
}

img {
	height: 60%;
	position: absolute;
	top: 20%;
	left: 15%;
	pointer-events: none;
}

.menu {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50px;
	font-family: 'Cafe';
	right: -270px;
}

.nav {
	position: relative;
	z-index: 1;
	display: inline-block;
	padding: 3px 25px 2px 30px;
	color: white;
	cursor: pointer;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 3px;

}

.nav span {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 5px;
	width: 2px;
	height: 100%;
	transform: skewX(20deg);
	background: #ffd700;
	overflow: hidden;
	transition: width 0.5s cubic-bezier(0.59, 0.05, 0.16, 0.99);
}

.nav span:before {
	content: attr(data-content);
	color: #000;
	display: block;
	transform: skew(-20deg);
	white-space: nowrap;
	padding: 3px 0px 2px 25px;
}

.nav:hover span {
	width: calc(100% - 20px);
}

.hello {
	position: absolute;
	right: 10%;
	top: 40%;
	color: white;
}

.desc {
	position: absolute;
	right: 25%;
	bottom: 45%;
	color: white;
}

.line {
	border-right: 2px solid white;
	color: white;
	font-family: 'TypeWriter';
	font-size: 5em;
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
	letter-spacing: 6px;
}

.typing-animation {
	animation: blinkCursor 1s infinite normal, typing 2s steps(16) 1s normal both;
}

@keyframes typing {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

@keyframes blinkCursor {
	from {
		border-right-color: white;
	}

	to {
		border-right-color: transparent;
	}
}

@font-face {
	font-family: 'Cafe';
	src: url('fonts/Louis\ George\ Cafe.ttf') format('truetype');
}

@font-face {
	font-family: 'TypeWriter';
	src: url('fonts/JMH\ Typewriter.ttf') format('truetype');
}

@font-face {
	font-family: 'TWThin';
	src: url('fonts/JMH\ Typewriter-Thin.otf') format('truetype');
}


/*
.color1 { #302215 };
.color2 { #241a10 };
.color3 { #18110b };
.color4 { #0c0905 };
.color5 { #000000 };